@mixin flexProp($direction, $gap, $justification, $alignment) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
  align-items: $alignment;
  width: 100%;
  gap: $gap;
}

@mixin FormInput {
  @include flexProp(column, 0.3rem, flex-start, flex-start);
  font-family: "inter", sans-serif;
  font-size: 0.9rem;

  input[type="text"],
  input[type="password"] {
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $checkbox-bg;
    padding: 0.5rem 0.7rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      text-transform: capitalize;
      font-size: 0.8rem;
    }
  }
}

@mixin FormButton {
  @include flexProp(row, 1.5rem, center, center);
  background-color: $text1;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.8rem;
  font-family: "inter", sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

@mixin FormRedirect {
  @include flexProp(row, 0.4rem, center, center);
  color: $text2;
  font-size: 0.8rem;

  a {
    text-decoration: none;
    color: $text1;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@mixin FormContainer {
  @include flexProp(column, 1.5rem, flex-start, center);
  width: 27rem;
  border: 2px solid $checkbox-bg;
  padding: 2rem 3rem;
  border-radius: 20px;
  font-family: "inter", sans-serif;
}

@mixin PaginationButton {
  display: grid;
  place-items: center;
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border: none;

  .btn_icon {
    height: 90%;
    width: 90%;
  }
}
